* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* changed from div to header */ /* DONE */
.header {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #b3730d;
    color: black;
}

/* DONE */
.header h1 {
    display: inline-block;
    font-size: 48px;
}


/* ADD @media */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*  */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.big-photo {
    width: 25%;
    display: inline-block
    margin-left: 20px;
}

/* changed div to main
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} */


/* TUTORING CSS */
.cover-image-1 {
    background-image: url("../assets/images/anna\ and\ aurelia\ oct\ 2020\ edited-14.jpg");
    background-size: cover;
    background-position: center;
}

#small-image-1 {
    background-image: url("../assets/images/anna\ and\ aurelia\ oct\ 2020\ edited-15.jpg");
    background-size: cover;
    background-position: center;
}

#small-image-2 {
    background-image: url("./images/anna\ and\ aurelia\ oct\ 2020\ edited-16.jpg");
    background-size: cover;
    background-position: center;
}

#small-image-3 {
background-image: url("./images/anna\ and\ aurelia\ oct\ 2020\ edited-17.jpg");
background-size: cover;
background-position: center;
}

#small-image-4 {
    background-image: url("./images/anna\ and\ aurelia\ oct\ 2020\ edited-33.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    margin: 25px 0px;
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item, h2 {
    border: 5px solid rgb(34, 6, 6);
    min-height: 115px;
    min-height: 115px;
    flex-basis: calc(50% - 16px);
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.item div {
    background-color: wheat;
    color: black;
    padding: 10px;
}
#large-item {
    min-height: 300px;
    flex-basis: 100%;
}

.container img {
    height: 115px;
    width: 115px;
}

@media screen and (max-width: 768px) {
    .item {
        flex-basis: 100%;
    }
    #large-item {
        min-height: 150px;
    }
}
.side {
    display: block;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}

.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-right: 25px;
    color: black;
}